$main-color: #000;
$footer-font: 'Cormorant Garamond', serif;

//Global
.App {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: $main-color;
  transition: .3s;

  p, h1, h2 {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover, &:focus, &:active {
      color: inherit;
    }
  }

  input {
    &:focus {
      outline: none;
    }
  }
}


//Top Note
.top-note {
  font-size: 11px;
  font-weight: 500;
  padding: 4px 0 3px;
  text-align: center;

  span {
    font-size: 10px;
    margin-left: 6px;
  }
}


//Main background wrap
.main-bg-wrap {
  background: url("./pictures/bg/9193579.png") 67%;
  background-size: cover;
}

//Header
.header {


  //  Logo
  .logo {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.95px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

    & .login {
      color: #000;
    }
  }

  // Search
  .search {
    display: flex;
    justify-content: center;
    max-width: 580px;
    padding: 16px;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    background-color: rgba(247, 247, 247, 0.24);

    input {
      width: 95%;
      background-color: transparent;
      border: none;

      &::placeholder {
        color: #fff;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0.8px;
      }
    }

    // Search login(registered) mode
    &.login {
      background-color: #F7F7F7;

      input::placeholder {
        color: #000
      }

    }
  }


  //Cart Count '99'
  .cart-count {
    display: flex;
    margin: 0 0 0 8px;
    padding-top: 2px;
    background-color: #F2DA91;;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 600;
  }

  //  Sing in | Register
  .sing-in {
    display: flex;
    justify-content: end;
    align-items: center;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    text-align: end;

    // Login(registered) mode
    &.login {
      color: #000;
    }

    span {
      margin: 0 8px;
    }

    img {
      width: 24px;
      height: 24px;
      margin-left: 17px;
    }
  }

  //  Main Nav
  .main-nav {
    margin: 24px auto 15px;
    max-width: 640px;
    display: flex;
    justify-content: space-between;

    a {
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
      text-transform: uppercase;
    }

    // Login(registered) mode
    &.login a {
      color: #000;
    }
  }
}

// Offer
.offer {
  padding: 140px;

  h1 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 180px 0 240px;
  }

  // Login(registered) mode
  &.offer-bg {
    background-image: url("./pictures/bg/hp-oh-hi.png");
    background-size: cover;
  }
}

// Subscribe
.subscribe {
  padding: 32px 0;
  max-width: 439px;
  margin: 0 auto;
  font-size: 12px;
  letter-spacing: 0.872727px;

  p {
    margin-bottom: 14px;
  }
}

// Subscribe from
.subscribe-form {
  display: flex;

  input {
    padding: 8px 11px 7px;
    width: 100%;
    font-size: 11px;
    letter-spacing: 0.8px;
    color: #4A4A4A;
    border: 1px solid #E1E0E1;
    border-radius: 3px;
  }

  button {
    margin-left: 12px;
    padding: 5px 20px 7px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

// Footer
.footer {
  padding: 26px 0 18px;
  background-color: #F7F7F7;

  h5 {
    font-family: $footer-font;
    font-size: 16px;
    letter-spacing: 1.16px;
    margin-bottom: 17px;
  }

  .last {
    max-width: 140px;
  }

  p a {
    letter-spacing: 0.1px;
    line-height: 19px;
    margin-bottom: 7px;
  }

  .social-media {
    img {
      margin-right: 16px;
    }
  }

  .copyright {
    margin-top: 38px;
    text-align: center;
    font-size: 9px;
    letter-spacing: 0.5px;
  }
}


//-----Mobile version-----
//Header
.header {

  //Hamburger
  .hamburger {
    width: 20px;
    height: 3px;
    background-color: #fff;
    position: relative;

    &:before, &:after {
      position: absolute;
      content: '';
      width: 20px;
      height: 3px;
      background-color: #fff;
    }

    &:before {
      top: 7px;
    }
  ;

    &:after {
      bottom: 7px;
    }
  }

  .cart-icon {
    display: flex;
    align-items: center;
  }
}

// Nav-Bar (mobile)
.nav-bar {
  position: fixed;
  top: 0;
  width: 80%;
  background-color: #fff;
  height: 100vh;

  &:after {
    position: absolute;
    content: '';
    width: 25%;
    height: 100vh;
    top: 0;
    right: -25%;
    opacity: 0.32;
    background-color: #000;
  }

  .header {
    margin: 24px 0 40px;
    position: relative;

    img {
      position: absolute;
      left: 16px;
      top: 50%;
    }

    h2 {
      text-align: center;
      color: #333333;
      font-size: 31px;
      font-weight: 700;
    }
  }

  .body {
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 16px 32px;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1.2px;

      img {
        max-height: 12px;
      }
    }

    .menu_levels {
      .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 13px;
        border-bottom: 1px solid #000;
        margin-bottom: 16px;

        h3 {
          margin-left: 40px;
          font-size: 16px;

          img {
            margin: 0 16px 0 -16px;
          }
        }

        .view-all {
          text-decoration: underline;
          margin-right: 16px;
          font-weight: 400;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .body {

        .item-level2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 16px 31px;
          font-weight: 600;
          font-size: 15px;
          text-transform: uppercase;
          letter-spacing: 1.2px;

          img {
            max-height: 12px;
          }
        }

        .item-last-level {
          margin: 0 0 29px 16px;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }

  .opacity-bar {
    opacity: .5;
  }

  .sing-in-line {
    display: flex;
    align-items: center;
    margin: 70px 0 0 0;
    padding: 17px 0 16px 15px;
    background-color: #F7F7F7;

    p {
      font-size: 15px;
      font-weight: 600;
    }

    span {
      margin: 0 10px;
    }
  }

  .location {
    padding: 17px 0 16px 32px;
    background-color: #F7F7F7;
    font-size: 13px;

    img {
      margin: 0 10px 0 -10px;
    }
  }

}

//--------MEDIA--------
/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  //  Footer
  .footer {
    .footer__col {
      margin-bottom: 50px;
      text-align: center;
    }

    .last {
      max-width: 100%;
    }
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  //Header
  .header {
    padding-top: 17px;
  }


  // Offer
  .offer {
    h1 {
      opacity: 0;
    }
  }

  // Subscribe
  .subscribe {
    max-width: 100%;
  }

  //  Footer
  .footer {

    //  Accordion
    .accordion {

      .accordion-header {
        position: relative;

        &:after {
          position: absolute;
          content: '';
          width: 92%;
          height: 1px;
          background-color: #E1E0E1;
          left: 4%;
        }
      }

      .accordion-item {
        border: none;
      }

      .accordion-body {
        padding-top: 7px;
        background-color: #F7F7F7;

        p {
          margin-bottom: 10px;
        }
      }

      button {
        background-color: #F7F7F7;
        font-family: $footer-font;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1.16px;


        //delete default color effects
        &:not(.collapsed), &:focus {
          color: inherit;
          border-color: inherit;
          box-shadow: none;


          &:after {
            transform: rotate(0deg);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
          }
        }

        // turn default arrow
        &:after {
          transform: rotate(-90deg);
        }
      }
    }

    //  Social Media
    .social-media {
      text-align: center;
      margin-top: 24px;
    }

    //  Copyright
    .copyright {
      margin-top: 17px;
      font-size: 9px;
    }
  }
}



